<!DOCTYPE html>

<html>
  <head>
    <title>Back End Development and APIs Projects | freeCodeCamp.org</title>
    <link
      rel="shortcut icon"
      href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
      type="text/css"
    />
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Back End Development and APIs Projects</h1>
    <hr />
    <div class="container">
      <h2 class="project-link">
        <a href="./timestamp.html">Timestamp Microservice</a>
      </h2>
      <h2 class="project-link">
        <a href="#">Request Header Parser Microservice</a>
      </h2>
      <h2 class="project-link">
        <a href="#">URL Shortener Microservice</a>
      </h2>
      <h2 class="project-link">
        <a href="#">Exercise Tracker</a>
      </h2>
      <h2 class="project-link">
        <a href="#">File Metadata Microservice</a>
      </h2>
    </div>
    <div class="footer">
      <p>
        By
        <a href="https://github.com/Solarc117/fcc-backend-projects"
          >Carlos Bernal</a
        >. Projects and curriculum by
        <a
          href="https://www.freecodecamp.org/learn/back-end-development-and-apis/#back-end-development-and-apis-projects"
          >freeCodeCamp.org</a
        >
      </p>
    </div>
  </body>
</html>
